
.section-heading {
    font-size: 1.1em;
    line-height: 36px;
    font-weight: 700;
    color: #758055;
    padding: 0 0 0 1.25rem;
}

.p5010p {
    padding: 50px 10% 0 10%;
}

@media (max-width: 1199px) and (min-width: 991px) {
    .p50 {
        padding: 25px;
    }

}

@media (max-width: 991px) and (min-width: 768px) {
    .p5010p {
        padding: 50px 50px 0 50px;
    }

    .p50 {
        padding: 15px;
    }

}

@media only screen and (max-width: 768px) {
    .p5010p {
        padding: 15px 15px 0 15px;
    }
}

