.data-cards {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-header {
    background-color: #002a53;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    margin-bottom: 15px;
}

.card {
    cursor: pointer;
}

.ui-widget-header {
    border: 0;
    background: #002a53;
    color: white;
    font-weight: bold;
}

.abstract {
    border-bottom: 1px solid green;
    padding-bottom: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAm0lEQVR4Ae3VAQaAQBBA0dCBukcIHWSPsgfpiOGHMKKg+QrmAyzr2WVmuKmqqgqYrDsMTOOsJe7owA6sWczMtfYKE+2plwJGYHuJCkzU49RH+RgfZWMElIcRUB5GQOkYAeVjJJSJSQy9qP2PsVECpmcmuo4x1oyIiTyUgFFRAkZACZjPUcDyhEmgJuuFujDRtW9bhDUz3xxVVVUdlCLox3GudKQAAAAASUVORK5CYII=);
    border: 1px solid #ffffff;
    float: right;
    /* margin-top: 5px; */
    background-size: contain;
    background-color: unset;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    border: 2px solid #ffffff;
}

span.ui-button-icon.ui-icon.ui-icon-closethick {
    display: none;
}

.help-image{
    background-size: cover;
    min-height: 200px;
    background-position: center;
}

.highlight {
    background: #ffffff;
}

.highlight pre {
    font-size: 95%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #eee;
}

.help-tabs{
    padding:5px;
    cursor: pointer;
}

.help-tabs.active{
    border: 1px solid #bdd12f;
    border-bottom: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #002a53;
}

.tab-holder{
    margin-bottom: 0;
    padding-left: 0;
}