.data-cards {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: "Work Sans", 'Roboto';
}

.card-header {
    background-color: #002a53;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    margin-bottom: 15px;
}

.content {
        width: 95%;
    }

.sidebar {
position: fixed;
top: 60px;
bottom: 50px;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color: #f5f5f5;
border-right: 1px solid #eee;
    width: 180px;
}

ul {
    list-style: unset;
    margin-left: 20px;
}

td, th {
    padding: 10px;
}

thead {
    background-color: #758055;
    color: #ffffff;
}

table th{
    color:#ffffff;
}

tr.row-even {
    background-color: #7580552e;
}

.map-help-img{
    margin: 40px 20px;
    max-width: 85%;
}

.card {
    cursor: pointer;
}

.bottom-margin{
    margin-bottom: 25px;
}

.image-200{
    width: 200px;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 20px;
}

.section{
    background-color: unset;
}

.ui-widget.ui-widget-content{
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.ui-widget-header {
    border: 0;
    background: #758055;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 5px 5px 0 0;
    cursor: move;
}

.abstract {
    /*border-bottom: 1px solid green;*/
    padding-bottom: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 50px;
}

.meta-preview:after {
    content: "";
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
}

.meta-btn{
    float: right;
    margin-top: 25px;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAm0lEQVR4Ae3VAQaAQBBA0dCBukcIHWSPsgfpiOGHMKKg+QrmAyzr2WVmuKmqqgqYrDsMTOOsJe7owA6sWczMtfYKE+2plwJGYHuJCkzU49RH+RgfZWMElIcRUB5GQOkYAeVjJJSJSQy9qP2PsVECpmcmuo4x1oyIiTyUgFFRAkZACZjPUcDyhEmgJuuFujDRtW9bhDUz3xxVVVUdlCLox3GudKQAAAAASUVORK5CYII=);
    border: 1px solid #ffffff;
    float: right;
    /* margin-top: 5px; */
    background-size: contain;
    background-color: unset;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    border: 2px solid #ffffff;
}

span.ui-button-icon.ui-icon.ui-icon-closethick {
    display: none;
}

.highlight {
    background: #ffffff;
}

.highlight pre {
    font-size: 95%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #eee;
}

.help-tabs {
    padding: 5px;
    cursor: pointer;
    color: #75805594;
}

.help-tabs:hover {
    color: #758055;
}

.help-tabs.active {
    /*border: 1px solid #bdd12f;*/
    /*border-bottom: 0;*/
    /*border-top-left-radius: .25rem;*/
    /*border-top-right-radius: .25rem;*/
    color: #758055;
    font-weight: bold;
}

.tab-holder {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
}

.noscroll {
    position: fixed;
    overflow-y: scroll
}

.data-title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    color: #758055;
    padding: 0 0 0 1.25rem;
}

.summary {
    color: #616d72;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

.help-bottom {
    margin-bottom: 100px;
}

.ExpandableImage {
    cursor: default;
}

.ExpandableImage.fullSize {
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.ExpandableImage__previewImg {
    border: 1px solid rgb(128, 128, 128);
    float: right;
    width: 284px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.ExpandableImage__previewImg.fullSize {
    border: 1px solid rgb(128, 128, 128);
    float: none;
    width: auto;
    position: fixed;
    inset: 60px 0px 0px;
    margin: auto;
    overflow: auto;
    max-width: 99%;
    max-height: calc(98% - 60px);
    height: auto;
    cursor: pointer;
}

.ExpandableImage:after {
    content: "";
    display: block;
    clear: both;
}

.media-gallery {
    font-family: "Arial";
    font-size: 14px;
}


.carousel-caption {
    position: relative;
    border: 1px solid black;
    top: 0;
    left: 0;
    color: black;
    text-align: left;
    padding: 20px;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
    z-index: 999;
    width: 45px;
    height: 45px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.25) none repeat scroll 0 0;
    border-radius: 100%;
    padding: 0 0 10px 0px;
    line-height: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    top: 50%;
    bottom: 50%;
    width: 5%;
    opacity: 1;
    position: absolute;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    font-size: 30px;
    background: none;
}

.carousel .carousel-control-next {
    right: 20px;
}

.ui-content{
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

@media only screen and (max-width: 768px) {
    .image-200 {
        width:100%;
        float: unset!important;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {

    .main {
        padding-right: 40px;
        padding-left: 40px; /* 180 + 40 */
    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px; /* 180 + 40 */
    }

}