html {
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}

.popover.tour-tour {
    z-index: 3000 !important;
}

#isMobile {
    display: none;
}

@keyframes blink {
    0% {
        color: #ffffff;
    }
    50% {
        color: #758055;
    }
    100% {
        color: #ffffff;
    }
}

.tour_icon_blink {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-iteration-count: 2;
}

@keyframes box-blink {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #ffffff;
    }
    100% {
        background-color: transparent;
    }
}

.tour_box_blink {
    animation-name: box-blink;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-iteration-count: 2;
}

.tour_box_blink:hover {
    color: #fff;
    background-color: #758055d1 !important;
}

.popover-title {
    color: #ffffff;
    background-color: #758055 !important;
}

.example-style {
    background-color: #909d6b94;
    color: white;
    line-height: 16px;
    padding: 4px;
}

html,
body,
#map,
.map {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}
.bold {
    font-weight: 600;
}
#dialog {
    background: #ffffff;
    min-width: 99%;
}

.ui-dialog {
    z-index: 9999 !important;
    padding: 0;
}

.ui-dialog .ui-dialog-content {
    padding: 5px 18px;
}

.progress-bar {
    height: 20px;
}

.ui-widget-header {
    border: 0;
    background: #758055;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 5px 5px 0 0;
    cursor: move;
}

.ui-widget {
    font-family: inherit;
     font-size: inherit;
}

.ui-dialog-content {
    font-size: inherit;
}

.ui-dialog-content input, .ui-dialog-content select {
    height: unset;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAm0lEQVR4Ae3VAQaAQBBA0dCBukcIHWSPsgfpiOGHMKKg+QrmAyzr2WVmuKmqqgqYrDsMTOOsJe7owA6sWczMtfYKE+2plwJGYHuJCkzU49RH+RgfZWMElIcRUB5GQOkYAeVjJJSJSQy9qP2PsVECpmcmuo4x1oyIiTyUgFFRAkZACZjPUcDyhEmgJuuFujDRtW9bhDUz3xxVVVUdlCLox3GudKQAAAAASUVORK5CYII=);
    border: 1px solid #ffffff;
    float: right;
    /* margin-top: 5px; */
    background-size: contain;
    background-color: unset;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    border: 2px solid #ffffff;
}

.ui-dialog .ui-resizable-se {
    right: 0 !important;
    bottom: 0 !important;
    background-position: -64px -224px !important;
    width: 17px;
    height: 17px;
    z-index: 1000 !important;
}

.ui-dialog .ui-resizable-sw {
    right: 0 !important;
    bottom: 0 !important;
    background-position: -64px -224px !important;
    width: 17px;
    height: 17px;
    z-index: 1000 !important;
}

.ui-dialog .ui-dialog-title {
    font-weight: 400;
    font-size: 14.4pt;
}

.ui-icon-closethick {
    background-position: unset;
}
.tooltip{
    z-index: 99999;
}

.tooltip-inner {
    color: #fff;
    background-color: #758055;
    box-shadow: 2px 2px 2px #909d6b94;
}

.legend-btn, .settings-btn {
    cursor: pointer;
}

.legend-btn:hover, .settings-btn:hover {
    color: #bdd12f; /*#7eaddb;*/
}

.leaflet-control-layers.leaflet-control {
    display: none;
}

.leaflet-bar-timecontrol {
    color: #ffffff;
}

ul.leaflet-draw-actions.leaflet-draw-actions-top li a,
ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a {
    color: white;
}

.leaflet-bar a {
    background-color: #909d6b94; /*rgba(0, 60, 136, 0.5);*/
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

.leaflet-bar a:hover {
    background-color: #758055d1; /*rgba(0, 60, 136, 0.7);*/
    color: white;
}

.highcharts-graph {
    /*stroke: #758055;*/
}

.progress-bar {
    background-color: #758055;
}

.highcharts-label text {
    color: #758055 !important;
    fill: #758055 !important;
}

path.highcharts-halo.highcharts-color-0 {
    fill: #758055;
}

rect.highcharts-focus-border {
    display: none;
}

.fullscreen-icon, .leaflet-retina.fullscreen-icon {
    background-image: url(images/icon-fullscreen.png) !important;
}

.leaflet-bar-timecontrol {
    background-color: unset; /*:rgba(0,60,136,.5) ;*/
}

.leaflet-bar-timecontrol .leaflet-control-timecontrol {
    background-color: #909d6b94; /*rgba(0, 60, 136, 0.5);*/
}

.leaflet-control-zoom.leaflet-bar.leaflet-control,
leaflet-bar leaflet-bar-horizontal leaflet-bar-timecontrol leaflet-control {
    background-color: rgba(255, 255, 255, 0.4);
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled,
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-color: #909d6b;
    opacity: .5;
}

.leaflet-draw-actions a {
    color: #ffffff;
}

#slider-range {
    position: absolute;
    top: -32px;
    right: 0;
    background-color: #909d6b94;
    width: 231px;
    line-height: 30px;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

#slider-range:hover {
    background-color: #758055d1;
    color: white;
    cursor: pointer;
}

.picker-text {
    font-size: 1rem;
    font-family: "Work Sans", Roboto;
    color: #666666;
}

.just-buttons {
    width: calc(100% - 10px);
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.layers li.placeholder {
    position: relative;
    /** More li styles **/
}

ol.layers li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

ol {
    list-style-type: none;
}

.rst__rowWrapper {
    padding: 10px 10px 10px 0;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.rst__row {
    height: 100%;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
}

.rst__moveHandle,
.rst__loadingHandle {
    height: auto;
    width: 44px;
    /*background: #7eaddb url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSI+PHBhdGggZD0iTTE0IDE1LjdoMTQuNE0xNCAyMS40aDE0LjRNMTQgMjcuMWgxNC40Ii8+PC9nPjwvc3ZnPg==) no-repeat 50%;*/
    background: #909D6B url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MiIgaGVpZ2h0PSI0MiI+PGcgc3Ryb2tlPSIjRkZGIiBzdHJva2Utd2lkdGg9IjIuOSI+PHBhdGggZD0iTTE0IDE1LjdoMTQuNE0xNCAyMS40aDE0LjRNMTQgMjcuMWgxNC40Ii8+PC9nPjwvc3ZnPg==) no-repeat 50%;
    border: solid #aaa 1px;
    box-shadow: 0 2px 2px -2px;
    cursor: move;
    border-radius: 1px;
    z-index: 1;
}

.rst__rowContents {
    position: relative;
    height: 100%;
    border: 0; /* 1px solid #bbb;*/
    border-left: none;
    -webkit-box-shadow: 0 2px 2px -2px;
    box-shadow: 0 2px 2px -2px;
    padding: 0 5px 0 10px;
    border-radius: 2px;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
}

.basemapbtn {
   width:100%;
    border-radius: 0.15rem;
    /*margin: 5px;*/
    /*box-shadow: 2px 2px 2px #002a53a1;*/
    cursor: pointer;
}

.basemapbtn:hover {
    max-width: calc(50% - 12px);
    border-radius: 0.317rem;
    /*margin: 5px;*/
    box-shadow: 2px 2px 2px #909d6b94;
}

.leaflet-control-geosearch a.leaflet-bar-part:before{
    border-top: 0;
}

.leaflet-control-geosearch a.leaflet-bar-part:after{
    border: 0;
}

a.leaflet-bar-part.leaflet-bar-part-single{
    background-image: url(images/search.png) !important;
    background-size: 18px 18px;
}

.leaflet-touch .leaflet-control-geosearch a.reset{
    height:26px;
}

.map-thumb {
    float: left;
    position: relative;
    overflow: hidden;
     max-width: calc(50% - 12px);
    max-height: 300px;
    cursor: pointer;
    margin: 5px;
}
.map-thumb:hover .caption-text {
    opacity: 1;
    transform: scale(1.2);
}
.map-thumb .caption-text h2,
.map-thumb .caption-text p {
    width: 100%;
    margin: 10px 0px;
    position: absolute;
    top: 40%;
}

@media (min-width: 768px) and (max-width: 991px){
    .map-thumb .caption-text h2,
.map-thumb .caption-text p {
        top: 25%;
    }
}

.map-thumb img{
    float: left;
}

.caption-text {
    position: absolute;
    opacity: 0;
    transition: all 0.45s ease-in-out;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 120px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.ens-holder {
    padding-left: 20px;
    display: none;
}

.ens-holder.checked {
    padding-left: 20px;
    display: block;
}

.servir_tooltip_header{
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    #isMobile {
        display: block;
    }
}