{% extends "cservbase.html" %}
{% load static %}
{% block title %}ClimateSERV - API Usage{% endblock %}
{% block script %}
    <link rel="stylesheet"
          href="{% static 'system_admin/css/system_admin.css' %}"
    />
    <script src="{% static 'system_admin/js/system_admin.js' %}"></script>
{% endblock %}
{% block content %}
    <script>
        const static_url = "{% static '' %}";
    </script>
    <div>
        <div class="container-fluid" style="padding-right: 0; padding-left: 0">
            <div style="background-color: #f6f6f6; margin:50px 50px 0 50px; overflow-x: auto">
                <table id="api_usage">
                    <thead>
                    <tr>
                        <th></th>
                        {% for header in headers %}
                            <th>
                                <form
                                        name="sort_form_{{ header.name }}"
                                        action="{% url 'ClimateSERV_SystemAdmin:usage' %}"
                                        method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input
                                                name="sort_column"
                                                style="display:none"
                                                value="{{ header.name }}"
                                        ></input>
                                        <input
                                                name="page"
                                                style="display:none"
                                                value="{{ page }}"
                                        ></input>
                                        {% if header.name == sorted %}
                                        <input
                                                name="direction"
                                                style="display:none"
                                                value="{{ direction }}"
                                        ></input>
                                        {% endif %}
                                    </div>
                                </form>

                                <span
                                        onclick="document.forms['sort_form_{{ header.name }}'].submit();"
                                        class="sort-by
                                            {% if header.name == sorted and direction == 'asc'%}asc
                                            {% elif  header.name == sorted and direction == 'desc'%}desc{% endif %}
"
                                >
                                    {{ header.name }}
                                </span>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for record in items %}
                        <tr>
                            <td style="vertical-align: middle;">
                                <form
                                        action="{% url 'ClimateSERV_SystemAdmin:usage' %}"
                                        onsubmit="return confirm('Are you sure you want to delete this record?');"
                                        method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input
                                                name="delete_record_id"
                                                style="display:none"
                                                value="{{ record.id }}"
                                        ></input>
                                        <input
                                                name="page"
                                                style="display:none"
                                                value="{{ page }}"
                                        ></input>
                                    </div>
                                    <button type="submit" form="removeItem">Delete</button>
                                </form>
                            </td>
                            {% for header in headers %}
                                <td>
                                    <div {% if header.name == "AOI" %}
                                        onclick="showAOI(this)" title="Show on map"
                                    {% endif %}
                                        style="
                                                max-height: 350px;
                                                overflow-y: auto;
                                                {% if header.name == "AOI" %} cursor:pointer; {% endif %}
                                                ">
                                        {{ record| key:header.name }}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% include "pagination.html" %}
        </div>
    </div>
{% endblock %}
