{% extends "cservbase.html" %}
{% load static %}
{% block title %}ClimateSERV - About{% endblock %}
{% block script %}
    <link href="{% static 'frontend/css/about.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div style="background-color: #f6f6f6; border-bottom: solid 2px #939b7a17;" class="p50">
        <div class="row mx-auto my-auto">
            <div class="col-12 tab-holder">
                <h2 class="section-heading" style="text-align: center; font-size: 1.5em;">
                    ABOUT ClimateSERV
                </h2>
                <p class="p5010p" style="color: #758055c4;">
                    This tool allows development practitioners, scientists/researchers, and government
                    decision-makers to visualize and download historical rainfall data,
                    vegetation condition data, and 180-day forecasts of rainfall and
                    temperature to improve understanding of, and make improved decisions for,
                    issues related to agriculture and water availability.
                </p>
            </div>
        </div>
    </div>
    <div class="p50">
        <div class="row" style="display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
            <div class="col-md-4 ">
                <img src="{% static 'frontend/img/home_screen.jpg' %}" class="help-image" alt="ClimateSERV home page"/>
            </div>
            <div class="col-md-8 order-me">
                <p style="padding: 0 50px 50px 50px;">
                    In SERVIR regions, where long-term ground-based rainfall observations are limited, the need for
                    satellite and model-derived rainfall data is critical for predicting droughts, estimating crop
                    yields, and more. Decision-makers require precise tools to assess drought severity, compare it
                    to past events, and gauge its potential impact on agriculture. These assessments hinge on accurate
                    measurements of rainfall variations over both space and time. To properly evaluate how an
                    unusually dry season fits into historical patterns, it is essential to analyze rainfall deficits
                    in context. Previously, rainfall data was often limited to specific points on the Earth's surface,
                    which failed to capture the full regional variability needed to understand overall rainfall trends.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ">
                <h1 class="section-heading">Application Purpose</h1>
                <p class="p50b0">
                    SERVIR has developed a user-friendly, web-based tool called ClimateSERV, designed to bring together
                    several key datasets in one platform, enabling decision-makers in data-scarce regions to perform
                    comprehensive analyses of climate, water, and agriculture trends. With ClimateSERV, development
                    practitioners, scientists, and government officials can easily examine 30 years of historical
                    rainfall data and compare it to the best available forecasts for the next 180 days within their
                    area of interest. This holistic approach improves their understanding of critical issues related
                    to agriculture and water availability, allowing for more informed decision-making. The tool's
                    three essential datasets are:
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'frontend/img/display_data.jpg' %}" alt="Image of ClimateSERV, showing data displayed on the map as well as a query result displayed on a graph" class="help-image" style="margin-top: 50px;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'frontend/img/display_chirps.jpg' %}" alt="Image of rain falling depicting an example of rainfall data provided by CHIRPS" class="help-image"
                     style="margin-top: 50px;"/>
            </div>
            <div class="col-md-8 order-me">
                <h1 class="section-heading">(1) Climate Hazards group IR Precipitation with Stations (CHIRPS)</h1>
                <p class="p50b0">
                    Scientists from the Famine Early Warning Systems Network (FEWS NET), as part of the SERVIR Applied
                    Sciences Team, have compiled an unparalleled 30-year (1982-present) global record of
                    satellite-derived rainfall data by integrating multiple satellite sources and ground observations.
                    This dataset, known as CHIRPS, offers a spatially and temporally consistent view of global
                    rainfall patterns, enabling accurate monitoring and assessment of large-scale trends. With CHIRPS,
                    researchers can analyze how rainfall patterns may be impacted by climate change. The data is
                    regularly updated with the latest available rainfall estimates, ensuring up-to-date insights.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ">
                <h1 class="section-heading">(2) North American Multi-Model Ensemble (NMME) dataset</h1>
                <p class="p50b0">
                    Accurate precipitation forecasts are crucial for decision-makers. The NMME dataset, compiled by the
                    National Oceanic and Atmospheric Administration (NOAA), represents state-of-the-art work in
                    seasonal forecasting. A SERVIR AST project has enhanced the NMME data by applying bias correction
                    and spatial disaggregation using widely accepted techniques. This process generates daily
                    temperature and precipitation forecasts for up to 180 days, covering the entire globe. When
                    combined with CHIRPS historical rainfall data, these seasonal forecasts offer a comprehensive view,
                    linking past rainfall patterns to future projections, providing a valuable tool for anticipating
                    weather trends and planning accordingly.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'frontend/img/display_nmme.jpg' %}" alt="Image of NMME data displayed on a map" class="help-image" style="margin-top: 50px;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'frontend/img/display_ndvi.jpg' %}" alt="Image os a lush area depicting great vegetation index" class="help-image" style="margin-top: 50px;"/>
            </div>
            <div class="col-md-8 order-me">
                <h1 class="section-heading">(3) MODIS-derived Normalized Difference Vegetation Index (eMODIS NDVI)</h1>
                <p class="p50b0">
                    SERVIR is also piloting the USGS pentadal eMODIS NDVI dataset, which provides 250m spatial
                    resolution data over West Africa. NDVI, an indicator of vegetation health, serves as a proxy
                    for agricultural productivity by measuring photosynthetic activity. By offering a 15-year NDVI
                    dataset, SERVIR empowers Ministries of Agriculture and international donors to explore how CHIRPS
                    rainfall data and NMME forecasts relate to vegetation growth and health. This dataset is also
                    being expanded to other regions of Africa and beyond. Through ClimateSERV, decision-makers can
                    link historical precipitation trends (CHIRPS) with past vegetation conditions (NDVI) to predict
                    potential vegetation growth and health using seasonal precipitation and temperature forecasts (NMME)
                    for up to 180 days.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ">
                <h1 class="section-heading">Application Uses</h1>
                <p class="p50b0">
                    With ClimateSERV, decision-makers can easily download, view, graph, and interpret CHIRPS,
                    eMODIS NDVI, and NMME seasonal forecast data through a web-based interface. This tool helps users
                    assess large-scale rainfall patterns, analyze the potential impacts of climate change, evaluate
                    drought likelihood, and infer crop conditions. For instance, Kenya Meteorological Service (KMS)
                    field offices are already using CHIRPS data to guide farmers on climate resilience strategies.
                    The KMS Kericho office leverages CHIRPS to downscale seasonal climate outlooks, aiding farmers
                    in choosing crop varieties and determining planting times. SERVIR hubs plan to train end-users
                    across their regions to utilize and analyze CHIRPS, NMME, and NDVI data via ClimateSERV. As the
                    use of seasonal forecasts continues to rise, ClimateSERV helps convert complex datasets into
                    actionable insights. For more information, visit the
                    <a href="{% url 'ClimateSERV_UI:help' %}" title="Help Center">Help Center</a> or explore
                    <a href="https://servirglobal.net/Multimedia/use-cases" title="Use Cases">use cases</a>.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'frontend/img/display_graph.jpg' %}"
                     alt="ClimateSERV example displaying a graph"
                     class="help-image" style="margin-top: 50px;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    ClimateSERV is brought to you by <a href="https://servirglobal.net" title="SERVIR Global">
                    SERVIR</a>  to address critical challenges
                    in climate change, food and water security, water-related disasters, land use, and air quality.
                </p>
                <p style="text-align: center; margin:40px;">For more information on the SERVIR program, visit
                    <a href="https://servirglobal.net" title="SERVIR Global">
                    https://servirglobal.net</a><br/><br/>


{#                <a#}
{#                    href="//nasa.gov/"#}
{#                    target="_blank"#}
{#                    title="NASA_blue_circle_with_stars_red_vector_upward_right_white_NASA_with_orbitcircle">#}
{#                    <img src="{% static 'frontend/img/nasa.png' %}"#}
{#                         alt="NASA_blue_circle_with_stars_red_vector_upward_right_white_NASA_with_orbitcircle"></a>#}
                <a
                    href="//servirglobal.net/"
                    target="_blank"
                    title="SERVIR Global">
                    <img src="{% static 'frontend/img/Servir_Logo_Flat_Color_Stacked_Small.png' %}"
                         alt="SERVIR Global"></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    The SERVIR Project makes no express or implied warranty as to the accuracy of the
                    map or as to the merchantability or fitness for a particular purpose of the data. Neither the
                    US Government nor its contractors shall be liable for special, consequential or incidental
                    damages attributed to this data.
                </p>
            </div>
        </div>
    </div>
{% endblock %}