<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"
    />
    <title>{% block title %}ClimateSERV{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel='icon' href="{% static 'frontend/img/favicon.ico' %}" type='image/x-icon'/>
    <link
            rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link href="{% static 'frontend/css/bulma.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/App.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/card.css' %}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
            integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
    ></script>
    <script src="{% static 'frontend/js/navloader.js' %}"></script>
    {% block script %}{% endblock %}

    <script>

        $(document).ready(function () {
            setActive("{{ page }}");
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27020636-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-27020636-4');
    </script>

</head>
<body>
<header>
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
        <a href="{% if page == 'menu-home' %}#home {% else %} / {% endif %}" class="navbar-brand">
            <img src="{% static 'frontend/img/logo_climateserv_WithGlobe_white.png' %}" alt="ClimateSERV"/>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a aria-current="page" id="menu-home" class="nav-link"
                       href="{% url 'ClimateSERV_UI:home' %}">HOME</a>
                </li>
                <li>
                    <a class="nav-link" id="menu-map" href="{% url 'ClimateSERV_UI:map' %}">MAP</a>
                </li>
                <li>
                    <a class="nav-link" id="menu-about" href="{% url 'ClimateSERV_UI:about' %}">ABOUT</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a class="nav-link" id="menu-help" href="{% url 'ClimateSERV_UI:help' %}">HELP CENTER</a>
            </div>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}
<div class="d-flex flex-column">
    <footer id="footer">
        <div class="climate-copy">
            <a href="https://climateserv.servirglobal.net">ClimateSERV</a>
            {#            <span>© SERVIR Global</span>#}
        </div>
        <div class="ml-auto climate-power">
            {#            <span>Powered by </span>#}
            <a href="https://servirglobal.net">
                <img
                        src="{% static 'frontend/img/logo_servir_global_better.png' %}"
                        alt="SERVIR Global"
                        style="margin-left: 8px"
                />
            </a>
        </div>

    </footer>
</div>
{% block item-template %}{% endblock %}
</body>
</html>