{% extends "cservbase.html" %}
{% load static %}
{% block title %}ClimateSERV - Help Center{% endblock %}
{% block script %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link href="{% static 'frontend/css/jquery-ui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/help-center.css' %}?v=1.1" rel="stylesheet"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'frontend/js/xml2json.js' %}"></script>
    <script src="{% static 'frontend/js/anchorme.min.js' %}"></script>
    <script src="{% static 'frontend/js/utils.js' %}"></script>
    <script src="{% static 'frontend/js/help-center.js' %}"></script>
{% endblock %}

{% block content %}
    <script>
        const static_url = "{% static '' %}";
        const dev_api = "{{ dev_api }}";

        let adjust_needed = dev_api ? true : false;
    </script>
    <div style="background-color: #f6f6f6;" class="p50">
        <div class="row mx-auto my-auto">
            <div class="col-12 tab-holder">
            <span id="metadata" class="help-tabs active" onclick="activate('metadata')">
                Dataset Metadata
            </span>

                <span id="user-interface" class="help-tabs" onclick="activate('user-interface')">
                    User Interface
                </span>

                <span id="api" class="help-tabs" onclick="activate('api')">
                    Developers API
                </span>
            </div>
        </div>
    </div>
    <div id="metadata-help-section" class="data-cards p50" {% if dev_api is True %}style="display: none;"{% endif %}>

        {% for dataset in datasets %}

            {% if forloop.counter|divisibleby:2 %}
                <div style="display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
                    <div class="col-sm-12 col-lg-6 help-bottom">
                        <div class="help-card">
                            <div class="help-image" style="background-image: url({{ dataset.display_image.url }})"
                                 title="{{ dataset.short_name }}"></div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 help-bottom">
                        <div class="help-card text-card">

                            <h2 class="data-title">{{ dataset.short_name }}</h2>

                            <div class="card-body">
                                <div class="summary">
                                    {{ dataset.summary|slice:"0:500" }}...
                                </div>
                                <button onclick="getMetaData('{{ dataset.metadata_id }}');"
                                        style="margin-top:20px;">
                                    Metadata
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div style="display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
                    <div class="col-sm-12 col-lg-6 help-bottom">
                        <div class="help-card text-card">
                            <h2 class="data-title">{{ dataset.short_name }}</h2>
                            <div class="card-body">
                                <div class="summary">
                                    {{ dataset.summary|slice:"0:500" }}...
                                </div>
                                <button onclick="getMetaData('{{ dataset.metadata_id }}');"
                                        style="margin-top:20px;">
                                    Metadata
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 help-bottom order-me">
                        <div class="help-card">
                            <div class="help-image" style="background-image: url({{ dataset.display_image.url }})"
                                 title="{{ dataset.short_name }}"></div>

                        </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>

    <div id="user-interface-help-section" style="display: none;" class="p50">
        <div class="row" style="margin-top: 0;">
            <div class="col-12 main">
                <div class="ui-content summary">
                    <h2 id="overview" class="data-title" style="padding: 0;">Overview</h2>
                    <p>
                        The ClimateSERV <a href="{% url 'ClimateSERV_UI:map' %}">map</a> provides tools to visualize
                        climate related datasets which help to identify where and
                        when specific events happen around the world. Along with the visualization capabilities,
                        ClimateSERV offers
                        the Statistical Query tool which helps answer climate questions specific to your area of
                        interest (AOI)
                        through analysis and extraction of data subsets clipped to your AOI and filtered by the desired
                        time range.
                        This tool gives you the option to display the statistics in an interactive graph, download the
                        statistical
                        data, or even download the raw data for further analysis.
                    </p>
                    <h2 id="statistics" class="data-title" style="padding: 1.25em 0 0 0;">Statistics</h2>
                    <p>

                        The ClimateSERV Statistical Query tool is a great way to identify and assess
                        climate related questions specific to your area of interest (AOI).  You can Query
                        Countries, Administrative boundaries, or even draw your own AOI.  This tool is useful
                        for generating Graphs that can be used by local decision makers when assessing situations
                        such as large-scale rainfall patterns, predicting droughts, estimating crop yields, and more.
                    </p>
                    <p>
                        To get started with this tool you will need to open the Statistical Query tab at the top left of
                        the map.  Once there you will notice there are three ways to specify your AOI.
                    </p>
                    <ul>
                        <li>
                            Draw the area using the drawing tools available in the map area (you will be able to
                            download your AOI as a GeoJson file after you perform the analysis)
                        </li>
                        <li>
                            Upload a saved GeoJson file defining your AOI in lat, lon coordinates
                            (coordinates must be expressed in decimal degrees). You may use third party tools
                            to convert your geometry to geojson, or to draw and save your AOI -
                            for example: <a href="https://geojson.io/">https://geojson.io/</a>
                        </li>
                        <li>
                            Select one or more administrative units shown in the map.
                        </li>
                    </ul>
                      <p style="text-align: center">
                    <img
                            src="{% static 'frontend/img/climateserv_statistical_query_tool.png' %}"
                            alt="ClimateSERV Statistical Query Tool"
                            class="map-help-img"
                    >
                      </p>
                    <p>
                        Once you have selected your AOI, you can choose either to query a specific dataset or to
                        generate the Monthly Rainfall Analysis which is derived from a combination of CHIRPS historical
                        data and current NMME Seasonal Forecast data.
                    </p>
                    <p>
                        If you choose Monthly Rainfall Analysis there are
                        no further steps needed, you may submit the query and wait for ClimateSERV to process the
                        results for your AOI.
                    </p>
                    <p>
                        If you choose dataset, you will next select a Data Source from the dropdown list.  After this
                        selection you may request the calculation Average, Min, Max, or Download.  The first three
                        options will generate a graph where the statistical data has that operation applied to it.  If
                        you select download you will be presented with a link to download the raw data when precessing
                        is complete.  For all AOI types except point(s) you will receive zipped tif files, for point
                        you will receive a csv with the data values.
                    </p>
                    <p>
                        The final step here s to select the date range you would like to query and send the request.
                        Due to increased demand in ClimateSERV services, a limit of 20 years of data per request has
                        been implemented.
                    </p>
                      <p style="text-align: center">
                    <img
                            src="{% static 'frontend/img/climateserv_statistical_query_results.png' %}"
                            alt="ClimateSERV Statistical Query Results"
                            class="map-help-img"
                    >
                      </p>
                    <p>
                        When your dataset query has finished processing you will be provided with an interactive graph
                        that you can mouse over each point to see values for specific dates.  Also in the top right
                        corner of the graph is a menu which gives you options to "View in full screen", "Print chart",
                        "Download PNG", "Download JPEG", "Download PDF", "Download SVG", "Download CSV",
                        "Download XLS", or "View data table." These options make saving and sharing your findings
                        very convenient.
                    </p>

                    <h2 id="visualize" class="data-title" style="padding: 1.25em 0 0 0;">Visualize</h2>
                    <p>
                        ClimateSERV is full of data layers that you can visualize on the interactive map.  This can
                        help you identify climate patterns and trends that can be difficult to see using tabular data.
                        Visually interacting with the different data in your AOI and time period make it possible to
                        comprehend, obtain insight, and even make decisions much more quickly.  You can even see the
                        data animate though time to help you pinpoint the exact moment an event happened.
                    </p>
                    <p>

                        To get started with visualization you will need to open the Layers tab at the top left of
                        the map.   Once open, you will notice a filter box that can help you quickly filter to the
                        specific data you are interested in simply by typing a letter or two.  Of course you may just
                        scroll through the layers as well.  Once you have found the data you would like, click the box
                        next to it to enable it on the map.  You may add multiple layers to the map if you would like.
                        To change the order of the layers on the map simply drag the layer by the handle up or down
                        placing the layer you want to be on top above the other layers.  You will see the layers change
                        in realtime as you drag them.
                    </p>
                    <p style="text-align: center">
                    <img
                            src="{% static 'frontend/img/climateserv_visualize_data.png' %}"
                            alt="ClimateSERV Visualize data layers"
                            class="map-help-img"
                    >
                    </p>
                    <p>
                        The layers all have default vision parameters, however you may want to adjust these to identify
                        specific features of the data better.  The gear icon in each of the layers will open a
                        settings panel where you can set the data min and max values to be displayed as well as the
                        color scheme to use.  These settings will only apply to that specific layer, each layers
                        settings are independent of the rest.  You will also notice there is an opacity slider that
                        allows you to dynamically adjust the opacity of the layer.
                    </p>
                      <p style="text-align: center">
                     <img
                            src="{% static 'frontend/img/climateserv_visualize_animation.png' %}"
                            alt="ClimateSERV Visualize animation"
                            class="map-help-img"
                    >
                      </p>
                    <p>
                        Last but not least, ClimateSERV allows you to animate the data layers over time.  At the bottom
                        of the map you will notice a timeline.  If there is a layer on the map the timeline is enabled.
                        You can click play, play reverse, next frame, previous frame.  There are range sliders on the
                        timeline where you can narrow the range of the animation, however for fine tuning you can
                        click on the date range at the top left of the timeline and it will open the range picker.
                        Here you can set the date range directly.  You will see the range sliders narrow to the range
                        on the timeline and you when you play it will only play the data in that range.
                    </p>


                </div>
            </div>
        </div>


    </div>

    <div id="api-help-section" {% if dev_api is True %} style="" {% else %}style="display: none;"{% endif %}  class="p50">
        <div class="section" id="developers-api">
            <header class="app-hero-banner page-grid" aria-label="Page banner"><img class="banner-img"
                                                                                    src="{% static 'frontend/img/api_hero.png'  %} "
                                                                                    id="s0-1-24-2-banner-heroImage"
                                                                                    alt="Banner image"
                                                                                    aria-hidden="true">
                <div class="banner-content banner-overlay" id="s0-1-24-2-banner" style="color:white"><h1
                        id="s0-1-24-2-banner-title">ClimateSERV Developers Program</h1>
                    <p class="banner-subtitle" id="s0-1-24-2-banner-subtitle">Building blocks for creating your own
                    application using climate data</p></div>
            </header>


        <section class="rectangle-section">
    <div class="rectangle">
        <h1>python API</h1>
        <p>Integrate ClimateSERV data using the  python API</p>
        <a href="{% url 'ClimateSERV_UI:python-api' %}" class="learn-more">Learn more</a>
    </div>
    <div class="rectangle">
        <h1>Develop</h1>
        <p>Develop your own code base to access the ClimateSERV API</p>
        <a href="{% url 'ClimateSERV_UI:develop-api' %}" class="learn-more">Learn more</a>
    </div>
    <div class="rectangle">
        <h1>Contribute</h1>
        <p>Contribute to ClimateSERV development</p>
        <a href="{% url 'ClimateSERV_UI:contribute' %}" class="learn-more">Learn more</a>
    </div>
</section>

             <section class="rectangle-section">
    <div class="rectangle">
        <p>ClimateSERV provides developers with powerful tools to access climate data and analytics,
            helping solve real-world challenges in climate resilience, food security, and natural resource management.
            Our API empowers you to seamlessly integrate climate data into your applications. Whether you’re looking
            to use the ClimateSERV Python API for quick integration, develop custom API interactions for your project,
            or contribute to our open-source repository, we welcome developers of all backgrounds to take part in this
            mission. Explore the options above to get started, enhance your projects, and join us in
            building a more sustainable future.</p>
    </div>
             </section>

        </div>
    </div>

    <!-- Full screen modal -->
    <div id="dialog" style="display: none" class="ui-widget-content">
        <p>
            This is the default dialog which is useful for displaying information.
            The dialog window can be closed with the &apos;x&apos; icon.
        </p>
    </div>

{% endblock %}