{% extends "cservbase.html" %}
{% load static %}
{% block title %}ClimateSERV - Help Center{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'frontend/js/xml2json.js' %}"></script>
    <script src="{% static 'frontend/js/anchorme.min.js' %}"></script>
    <link href="{% static 'frontend/css/jquery-ui.min.css' %}" rel="stylesheet" />
    <script src="{% static 'frontend/js/help-center.js' %}"></script>
    <link href="{% static 'frontend/css/help-center.css' %}" rel="stylesheet"></script>
{% endblock %}

{% block content %}

    <div style="background-color: #f6f6f6;" class="p50">
        <div class="row mx-auto my-auto">
            <h2 class="underline-header" id="metadata">
                Dataset Metadata
            </h2>
        </div>
    </div>
    <div class="data-cards">
        {% for dataset in datasets %}
            <div class="col-sm-6 col-lg-4">
                <div
                        class="card"
                        onclick="getMetaData('{{ dataset.metadata_id }}')"
                >
                    <div class="card-header bg-behance content-center">
                        <i class="text-white">{{ dataset.short_name }}</i>
                    </div>
                    <div class="help-image" style="background-image: url({{ dataset.display_image.url }})" title="{{ dataset.short_name }}"></div>
{#                    <img src="{{ dataset.display_image.url }}" alt="{{ dataset.short_name }}" style="width: 100%" />#}
                    <div class="card-body">
                        <div class="summary">
                            {{ dataset.summary|slice:"0:250" }}...
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}


    </div>

    <div style="background-color: #f6f6f6;" class="p50">
        <div class="row mx-auto my-auto">
            <h2 class="underline-header" id="user-interface">
                User Interface
            </h2>
        </div>
        <p style="padding: 15px 15px 0 15px">
            This section will contain useful information about using the system.
        </p>
    </div>

    <div style="background-color: #f6f6f6;" class="p50">
        <div class="row mx-auto my-auto">
            <h2 class="underline-header" id="api">
                API
            </h2>
        </div>
        <p style="padding: 15px 15px 0 15px">
            This section will contain useful information about using the web API.
        </p>
    </div>

    <!-- Full screen modal -->
    <div id="dialog" style="display: none" class="ui-widget-content">
        <p>
            This is the default dialog which is useful for displaying information.
            The dialog window can be closed with the &apos;x&apos; icon.
        </p>
    </div>

{% endblock %}