{% extends "cservbase.html" %}
{% load static %}
{% block title %}ClimateSERV - Help Center{% endblock %}
{% block script %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link href="{% static 'frontend/css/jquery-ui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'frontend/css/help-center.css' %}" rel="stylesheet"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'frontend/js/xml2json.js' %}"></script>
    <script src="{% static 'frontend/js/anchorme.min.js' %}"></script>
    <script src="{% static 'frontend/js/utils.js' %}"></script>
    <script src="{% static 'frontend/js/help-center.js' %}"></script>
{% endblock %}

{% block content %}



    <div style="background-color: #f6f6f6;" class="p50">
        <div class="row mx-auto my-auto">
            <div class="col-12 tab-holder">
            <span id="metadata" class="help-tabs active" onclick="activate('metadata')">
                Dataset Metadata
            </span>

                <span id="user-interface" class="help-tabs" onclick="activate('user-interface')">
                    User Interface
                </span>

                <span id="api" class="help-tabs" onclick="activate('api')">
                    API
                </span>
            </div>
        </div>
    </div>
    <div id="metadata-help-section" class="data-cards p50">

        {% for dataset in datasets %}

            {% if forloop.counter|divisibleby:2 %}
                <div style="display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
                    <div class="col-sm-12 col-lg-6 help-bottom">
                        <div class="help-card">
                            <div class="help-image" style="background-image: url({{ dataset.display_image.url }})"
                                 title="{{ dataset.short_name }}"></div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 help-bottom">
                        <div class="help-card text-card">

                            <h2 class="data-title">{{ dataset.short_name }}</h2>

                            <div class="card-body">
                                <div class="summary">
                                    {{ dataset.summary|slice:"0:500" }}...
                                </div>
                                <button onclick="getMetaData('{{ dataset.metadata_id }}');"
                                        style="margin-top:20px;">
                                    Metadata
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div style="display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
                    <div class="col-sm-12 col-lg-6 help-bottom">
                        <div class="help-card text-card">
                            <h2 class="data-title">{{ dataset.short_name }}</h2>
                            <div class="card-body">
                                <div class="summary">
                                    {{ dataset.summary|slice:"0:500" }}...
                                </div>
                                <button onclick="getMetaData('{{ dataset.metadata_id }}');"
                                        style="margin-top:20px;">
                                    Metadata
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 help-bottom order-me">
                        <div class="help-card">
                            <div class="help-image" style="background-image: url({{ dataset.display_image.url }})"
                                 title="{{ dataset.short_name }}"></div>

                        </div>
                    </div>
                </div>

            {% endif %}


        {% endfor %}


    </div>

    <div id="user-interface-help-section" style="display: none;" class="p50">


        <div class="row mx-auto my-auto">
            <h2 class="underline-header" id="user-interface">
                General
            </h2>
        </div>
        <p style="padding: 15px 15px 0 15px">General help topics about ClimateSERV
        </p>
        <div class="row mx-auto my-auto">
            <h2 class="underline-header" id="user-interface">
                Map page
            </h2>
        </div>

        <button
                type="button"
                class="bread-crumb"
                data-toggle="collapse"
                data-target="#display-data">
            Display data on map <i id="aoiOptionToggle" class="fa fa-angle-down"></i>
        </button>
        <div id="display-data" class="collapse" style="padding: 0 10px 20px 20px; clear:both;">
            <div class="ExpandableImage">
                <img class="ExpandableImage__previewImg"
                     src="{% static 'frontend/img/add_data.gif' %}"
                     onclick="toggleHelpImage(this)">
                <ol>
                    <li>
                        Select the layers icon at the top right of the panel
                    </li>
                    <li>
                        Scroll until you find the desired data layer
                    </li>
                    <li>
                        Check the box to add the layer to the display
                    </li>
                    <li>
                        Uncheck the box to remove the layer
                    </li>
                    <li>
                        Add as many layers as you find relevant to your study.
                    </li>
                </ol>
            </div>

        </div>
        <br>
        <button
                type="button"
                class="bread-crumb"
                data-toggle="collapse"
                data-target="#animate-data">
            Animate layer on map <i class="fa fa-angle-down"></i>
        </button>
        <div id="animate-data" class="collapse" style="padding: 0 10px 20px 20px; clear:both;">
            <div class="ExpandableImage">
                <img class="ExpandableImage__previewImg"
                     src="{% static 'frontend/img/animate_layer.gif' %}"
                     onclick="toggleHelpImage(this)">
                <ol>
                    <li>
                        Add layer to the map
                    </li>
                    <li>
                        Zoom in to the area you are interested in
                    </li>
                    <li>
                        Click the play button on the timeline control
                    </li>
                    <li>
                        You may also grab and slide the handle to the date/time you would like
                    </li>
                    <li>
                        You may use the previous, pause, and next buttons as needed.
                    </li>
                    <li>
                        You may add multiple datasets to animate, if the time intervals are different they will animate
                        as such. The more layers you animate, the more your network bandwidth may effect.
                    </li>
                </ol>
            </div>

        </div>

        <p style="padding: 15px 15px 0 15px">

            a bunch of stuff here including how to format geojson/json upload:


        <figure class="highlight" id="geojson"><pre><code class="language-json" data-lang="json"><span
                class="p">{</span><span class="w">
  </span><span class="s2">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Feature"</span><span
                class="p">,</span><span class="w">
  </span><span class="s2">"geometry"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span
                class="w">
    </span><span class="s2">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Point"</span><span
                class="p">,</span><span class="w">
    </span><span class="s2">"coordinates"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span
                class="mf">125.6</span><span class="p">,</span><span class="w"> </span><span class="mf">10.1</span><span
                class="p">]</span><span class="w">
  </span><span class="p">},</span><span class="w">
  </span><span class="s2">"properties"</span><span class="p">:</span><span class="w"> </span><span
                class="p">{</span><span class="w">
    </span><span class="s2">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Dinagat Islands"</span><span
                class="w">
  </span><span class="p">}</span><span class="w">
</span><span class="p">}</span></code></pre>
        </figure>
        </p>
    </div>

    <div id="api-help-section" style="display: none;" class="p50">
        {#        <div class="row mx-auto my-auto">#}
        {#            <h2 class="underline-header" id="api">#}
        {#                API#}
        {#            </h2>#}
        {#        </div>#}
        <p>
            This section will contain useful information about using the web API.
        </p>
    </div>

    <!-- Full screen modal -->
    <div id="dialog" style="display: none" class="ui-widget-content">
        <p>
            This is the default dialog which is useful for displaying information.
            The dialog window can be closed with the &apos;x&apos; icon.
        </p>
    </div>

{% endblock %}