{% extends "cservbase.html" %}
{% load static %}
{% block title %}ClimateSERV - Map{% endblock %}
{% block script %}
    <link rel="stylesheet"
          href="{% static 'frontend/css/jquery-ui.min.css' %}"
    />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/leaflet.draw.css' %}"
    />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/leaflet.timedimension.control.min.css' %}"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/leaflet-sidebar.css' %}"
    />
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/map.css' %}"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/bootstrap-tour-standalone.min.css' %}"
    />

{% endblock %}

{% block content %}
    <script>
        const help_link = "{% url 'ClimateSERV_UI:help' %}";
        const static_url = "{% static '' %}";
        let client_layers = [];
        {% for layer in data_layers %}

            {% if layer.isMultiEnsemble %}
                {% for enslayer in layer.datalayer.all %}
                    client_layers.push({
                        title: "{{ enslayer.title }}",
                        url: "{{ enslayer.url }}",
                        attribution: "{{ enslayer.attribution }}",
                        layers: "{{ enslayer.layers }}",
                        styles: "{{ enslayer.default_style }}",
                        colorrange: "{{ enslayer.default_color_range }}",
                        id: "{{ enslayer.ui_id }}",
                        dataset: "{{ enslayer.dataset_type }}",
                        app_id: "{{ enslayer.api_id }}",
                        units: "{{ enslayer.units }}"
                    })
                {% endfor %}
            {% else %}
                client_layers.push({
                    title: "{{ layer.title }}",
                    url: "{{ layer.url }}",
                    attribution: "{{ layer.attribution }}",
                    layers: "{{ layer.layers }}",
                    styles: "{{ layer.default_style }}",
                    colorrange: "{{ layer.default_color_range }}",
                    id: "{{ layer.ui_id }}",
                    dataset: "{{ layer.dataset_type }}",
                    app_id: "{{ layer.api_id }}",
                    units: "{{ layer.units }}",
                    yAxis_format: {% if layer.yAxis_Special_Formatting %}
                        {{ layer.yAxis_Special_Formatting | safe }}{% else %} null {% endif %},
                    point_format: {% if layer.graph_point_Special_Formatting %}
                        {{ layer.graph_point_Special_Formatting | safe  }} {% else %} null {% endif %}
                })
            {% endif %}
        {% endfor %}

    </script>
    {#    rework query order#}
    <div id="root">
        <div>
            <div id="sidebar" class="sidebar collapsed">
                <!-- Nav tabs -->
                <div class="sidebar-tabs">
                    <ul role="tablist">
                        <li>
                            <a href="#chart" role="tab" title="Statistical Query">
                                <i class="fas fa-chart-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#layers" role="tab" id="tab-layers" title="Layers">
                                <i class="fas fa-layer-group"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#basemap" role="tab" id="basemap_link" title="Basemaps"><i class="fas fa-map"></i></a>
                        </li>
                    </ul>
                    <ul role="tablist">
                        <li id="tour_box_blink" class="tour_box_blink">
                            <a role="tab" id="tour_link" onclick="open_tour()" title="Open interactive tour"><i
                                    id="tour_icon" class="fas fa-info-circle tour_icon_blink"></i></a>
                        </li>
                    </ul>
                </div>

                <!-- Tab panes -->
                <div id="sidebar-content" class="sidebar-content">
                    <div class="sidebar-pane" id="chart">
                        <h1 class="sidebar-header">
                            Statistical Query
                            <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                        </h1>
                        <h2 class="step-marker">Set Area of Interest</h2>
                        <button
                                type="button"
                                class="bread-crumb"
                                onclick="toggleAOIHeight()">
                            About AOI options <i id="aoiOptionToggle" class="fa fa-angle-down"></i>
                        </button>
                        <div id="aoiOptions" style="padding: 0 10px 0 20px; height:0; overflow: hidden;">
                            <p>
                                Choose how you would like to define your area of interest
                                (AOI)
                            </p>
                            <ul class="step-list">
                                <li>
                                    <span class="bold">Draw:</span> Enables drawing on the map.
                                    Select <span class="bold">polygon, rectangle, or point</span> from the toolbar,
                                    then
                                    interact with the map to define your AOI.
                                </li>
                                <li>
                                    <span class="bold">Upload:</span> Enables either drag and
                                    drop or click to upload a json file with your defined AOI
                                </li>
                                <li>
                                    <span class="bold">Select:</span> Adds administrative
                                    boundaries at different levels for you to choose your AOI.
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group d-flex">
                            <button
                                    id="btnAOIdraw"
                                    class="tablinks w-100"
                                    title="Draw AOI on map"
                                    onclick="selectAOI('draw')">
                                Draw
                            </button>
                            <button
                                    id="btnAOIupload"
                                    class="tablinks w-100"
                                    title="Upload geojson or .shp file containing AOI"
                                    onclick="selectAOI('upload')">
                                Upload
                            </button>
                            <button
                                    id="btnAOIselect"
                                    class="tablinks w-100"
                                    title="Select Admin feature from map"
                                    onclick="selectAOI('select')">
                                Select
                            </button>
                        </div>
                        <div class="tab-content selectAOI"
                             id="drawAOI"
                             style="display: none"
                        >
                            <p style="padding: 15px 10px;">
                                Choose drawing tool on the map or you may enter Lat/Lon values for point if
                                preferred.
                            </p>
                            <div class="form-group panel-buffer">
                                <label for="point_lat">Point Lat</label>
                                <input type="text" id="point_lat" placeholder="Point Lat" class="form-control"/>
                            </div>

                            <div class="form-group panel-buffer">
                                <label for="point_lon">Point Lon</label>
                                <input type="text" id="point_lon" placeholder="Point Lon" class="form-control"/>
                                <label id="lat-lon-error" for="point_lon"
                                       style="color: rgb(218, 32, 32); display:none;">
                                    Lat must be a number between -90 and 90, lon must be a number between -180 and
                                    180.
                                </label>
                            </div>

                            <div class="form-group panel-buffer" style="text-align: right;">
                                <button
                                        id="btnSetPoint"
                                        onclick="setPointAOI()"
                                >
                                    Set Point
                                </button>
                            </div>
                        </div>

                        <div class="tab-content selectAOI"
                             id="uploadAOI"
                             style="display: none"
                        >
                            <div class="acontainer">
                                <div class="drop-container" id="drop-container">
                                    <div class="drop-message" onclick="triggerUpload(event)">
                                        <div class="upload-icon"></div>
                                        Drag &amp; Drop json, geojson, or zipped shapefile here
                                        or click to select file
                                    </div>
                                    <input id="upload_files" class="upload_files" type="file" multiple=""
                                           style="display: none;"/>
                                </div>
                                <div class="file-display-container"></div>
                            </div>
                            <div class="errors" id="upload_error" style="display:none;">

                            </div>
                            <div class="modal">
                                <div class="overlay"></div>
                                <span class="close">X</span>
                                <div class="modal-image"></div>
                            </div>
                            <div class="upload-modal" style="display: none">
                                <div class="overlay"></div>
                                <div class="close">X</div>
                                <div class="progress-container">
                                    <span></span>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="selectAOI" id="selectAOI" style="display: none">
                            <p style="font-weight: 900; padding: 20px 0 10px">
                                Select features by:
                            </p>
                            <div class="btn-group d-flex">
                                <button
                                        id="btnAdminFeatcountry"
                                        class="tablinks w-100"
                                        onclick="enableAdminFeature('country')"
                                >
                                    Country
                                </button>
                                <button
                                        id="btnAdminFeatadmin_1_earth"
                                        class="tablinks w-100"
                                        onclick="enableAdminFeature('admin_1_earth')"
                                >
                                    Admin #1
                                </button>
                                <button
                                        id="btnAdminFeatadmin_2_af"
                                        class="tablinks w-100"
                                        onclick="enableAdminFeature('admin_2_af')"
                                >
                                    Admin #2
                                </button>
                            </div>
                        </div>
                        <div class="form-group panel-buffer">
                            <label for="geometry">Geometry</label>
                            <span class="form-control" id="geometry"
                                  style="height: unset; word-break: break-all; max-height: 200px; overflow: auto;">
                                    {"type":"FeatureCollection","features":[]}
                                </span>
                        </div>
                        <div
                                class="form-group panel-buffer"
                                id="download_aoi_holder"
                                style="display: none; text-align:right;">
                            <button
                                    id="btn_download_aoi"
                                    onclick="download_aoi()"
                                    title="Download AOI as geojson"
                            >
                                Download AOI
                            </button>

                        </div>
                        <form id="query-form" onsubmit="return false;">
                            <h2 class="step-marker">Select Data</h2>
                            <div class="form-group panel-buffer">
                                <label for="requestTypeSelect">Type of Request</label>
                                <i
                                        onclick="stats_info('type')"
                                        class="fas fa-question-circle"
                                        aria-hidden="true"
                                        style="float: right;"></i>
                                <select name="requestTypeSelect" class="form-control" id="requestTypeSelect"
                                        onchange="openDataTypePanel(this)">
                                    <option value="datasets">Time-series Analysis</option>
                                    <option value="download">Download Raw Data</option>
                                    <option value="monthly_analysis">Monthly Rainfall Analysis</option>
                                </select>
                            </div>
                            <div id="panel_dataset">
                                <div class="form-group panel-buffer">
                                    <label for="dataset-type-menu">Dataset Type</label>
                                    <i
                                            onclick="stats_info('dataset-type')"
                                            class="fas fa-question-circle"
                                            aria-hidden="true"
                                            style="float: right;"></i>
                                    <select name="dataset-type-menu" class="form-control" id="dataset-type-menu"
                                            onchange="filter_datasets_by(this.value)">
                                        <option value="observation">Observation</option>
                                        <option value="model-forecast">Model Forecast</option>

                                    </select>
                                </div>
                                <div class="form-group panel-buffer">
                                    <label for="sourcemenu">Data Source</label>
                                    <i
                                            onclick="stats_info('source')"
                                            class="fas fa-question-circle"
                                            aria-hidden="true"
                                            style="float: right;"></i>
                                    <select name="sourcemenu" class="form-control" id="sourcemenu"
                                            onchange="handleSourceSelected(this.value)">
                                        {% for layer in data_layers %}
                                            {% if layer.isMultiEnsemble %}
                                                <option value="{{ layer.ui_id }}">{{ layer.title }}</option>
                                            {% else %}
                                                <option value="{{ layer.api_id }}">{{ layer.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div id="ensemble_builder">
                                    <div class="form-group panel-buffer">
                                        <label for="model_run_menu">Select a model run</label>
                                        <select name="model_run_menu" class="form-control" id="model_run_menu"
                                                disabled>
                                        </select>
                                    </div>
                                    <div class="form-group panel-buffer">
                                        <label for="ensemblemenu">Select a model ensemble</label>
                                        <select name="ensemblemenu"
                                                class="form-control" id="ensemblemenu"
                                                onchange="verify_ready()">
                                        </select>
                                    </div>
                                    <div class="form-group panel-buffer">
                                        <label for="ensemblevarmenu">Select a variable</label>
                                        <select name="ensemblevarmenu"
                                                class="form-control"
                                                id="ensemblevarmenu"
                                                onchange="verify_ready()">
                                        </select>
                                    </div>
                                    <h2 class="text-center">Select Forecast Range</h2>
                                    <div class="form-group panel-buffer">

                                        <label for="forecastfrommenu">From date</label>
                                        <select name="forecastfrommenu"
                                                id="forecastfrommenu"
                                                class="form-control"
                                                onchange="syncDates(); verify_ready()"
                                        >
                                        </select>
                                    </div>
                                    <div class="form-group panel-buffer">

                                        <label for="forecasttomenu">From date</label>
                                        <select name="forecasttomenu"
                                                id="forecasttomenu"
                                                class="form-control"
                                                onchange="syncDates(); verify_ready()"
                                        >
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group panel-buffer" id="panel_timeseries">
                                    <label for="operationmenu">Calculation</label>
                                    <i
                                            onclick="stats_info('calculation')"
                                            class="fas fa-question-circle"
                                            aria-hidden="true"
                                            style="float: right;"></i>
                                    <select
                                            name="operationmenu"
                                            id="operationmenu"
                                            onchange="verify_ready()"
                                            class="form-control">
                                        <option value="1" id="operation_min">Minimum</option>
                                        <option value="0" id="operation_max">Maximum</option>
                                        <option value="5" id="operation_average">Average</option>
                                    </select>
                                </div>
                                <div class="form-group panel-buffer" id="panel_download" style="display: none;">
                                    <label for="operationmenu">Download Format</label>
                                    <i
                                            onclick="stats_info('format')"
                                            class="fas fa-question-circle"
                                            aria-hidden="true"
                                            style="float: right;"></i>
                                    <select
                                            name="format-menu"
                                            id="format-menu"
                                            onchange="verify_ready()"
                                            class="form-control">
                                        <option value="7" id="netcdf">NetCDF</option>
                                        <option value="6" id="tif">TIF</option>
                                        <option value="8" id="csv">CSV</option>
                                    </select>
                                </div>
                                <div class="form-group panel-buffer" id="non-multi-ensemble-dates">
                                    <label for="sDate_new_cooked">Date Range</label>
                                    <input type="date" class="form-control" placeholder="YYYY-MM-DD"
                                           id="sDate_new_cooked" value="" min="1980-01-01" max="2035-12-31"
                                           onchange="verify_ready()">
                                    <div class="input-group-addon">to</div>
                                    <input type="date" class="form-control" placeholder="YYYY-MM-DD"
                                           id="eDate_new_cooked" value="" min="1980-01-01" max="2035-12-31"
                                           onchange="verify_ready()">
                                    <label id="compare-error" for="eDate_new_cooked"
                                           style="color:#da2020; display: none;">End date must be equal or greater
                                        than
                                        the start date</label>
                                </div>
                            </div>
                            <div id="panel_monthly_rainfall" style="display: none;">
                                <div class="form-group panel-buffer">
                                    <p style="text-align: justify;">
                                        No other options are necessary. Choose 'Next' below to proceed to the
                                        review panel, then click 'Submit Request'.
                                    </p>
                                    <p style="text-align: justify; font-weight: 500; margin-top: 20px;">
                                        Monthly Rainfall Analysis is derived from a combination of CHIRPS historical
                                        data and current NMME Seasonal Forecast data.

                                    </p>
                                </div>
                            </div>
                            <div class="just-buttons">
                                <button id="btnPreviousChart" disabled onclick="open_previous_chart()">Previous Chart
                                </button>
                                <button id="btnRequest" disabled onclick="sendRequest()">Send Request</button>
                            </div>
                            <div class="just-buttons">
                                <button id="btnViewAPI"
                                        disabled
                                        data-toggle="collapse"
                                        href="#api_panel"
                                        role="button"
                                        class="w-100"
                                >
                                    View API Call
                                </button>
                            </div>

                            <div class="form-group panel-buffer collapse" id="api_panel">
                                <label for="api_query">API Query</label>
                                <span name="api_query"
                                      class="form-control"
                                      style="word-wrap: break-word; height: fit-content;"
                                      id="api_query"
                                >
                                            </span>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-pane" id="chart2">
                        <h1 class="sidebar-header">
                            Statistical Query
                            <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                        </h1>
                        <div id="step1">

                            <form id="query-form2" onsubmit="return false;">
                                <h2 class="step-marker">Select Data</h2>
                                <div class="form-group panel-buffer">
                                    <label for="requestTypeSelect">Type</label>
                                    <i
                                            onclick="stats_info('type')"
                                            class="fas fa-question-circle"
                                            aria-hidden="true"
                                            style="float: right;"></i>
                                    <select name="requestTypeSelect" class="form-control" id="requestTypeSelect"
                                            onchange="openDataTypePanel(this)">
                                        <option value="datasets">Dataset</option>
                                        <option value="monthly_analysis">Monthly Rainfall Analysis</option>
                                    </select>
                                </div>


                            </form>


                        </div>
                    </div>
                    <div class="sidebar-pane" id="layers">
                        <h1 class="sidebar-header">
                            Layers
                            <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                        </h1>
                        <input
                                type="search"
                                placeholder="filter layers.."
                                name="search"
                                class="form-control searchbox-input"
                                title="filter layers.."
                                onkeyup="layer_filter()"
                                id="layer_filter"/>
                        <ol class="layers vertical" id="layer-list">
                            {% for layer in data_layers %}
                                <li id="{{ layer.ui_id }}_node"
                                    style="display: {% if layer.hasVisualization %} block {% else %} none {% endif %}">
                                    <div class="rst__nodeContent" style="left: 44px">
                                        <div style="height: 100%">
                                            <div class="rst__rowWrapper">
                                                <div class="rst__row" style="opacity: 1" draggable="true">
                                                    <div class="rst__moveHandle"></div>
                                                    <div class="rst__rowContents ignore-elements">
                                                        <div class="rst__rowLabel">
                                                            {% if layer.isMultiEnsemble %}
                                                                <span class="rst__rowTitle">
                                                                    <input type="checkbox"
                                                                           id="{{ layer.ui_id }}"
                                                                           name="{{ layer.ui_id }}"
                                                                           onchange="$('#ens-{{ layer.ui_id }}').toggleClass('checked')"/>
                                                                      <label for="{{ layer.ui_id }}"
                                                                             title="{{ layer.title }}"
                                                                             class="cblabel"
                                                                             data-toggle="tooltip"
                                                                      >{{ layer.title }}</label>
                                                                      <br/>
                                                                </span>
                                                                <div class="ens-holder" id="ens-{{ layer.ui_id }}">
                                                                    {% for enslayer in layer.datalayer.all %}
                                                                        <input type="checkbox"
                                                                               id="{{ enslayer.ui_id }}"
                                                                               name="{{ enslayer.ui_id }}"
                                                                               onchange="toggleLayer('{{ enslayer.ui_id }}TimeLayer')"/>
                                                                        <label for="{{ enslayer.ui_id }}"
                                                                               title="{{ enslayer.title }}">{{ enslayer.title }}</label>
                                                                        <br/>
                                                                    {% endfor %}
                                                                    <div>
                                                                        <i id="legend_{{ layer.ui_id }}TimeLayer "
                                                                           class="fas fa-list legend-btn"
                                                                           onclick="openLegend('{{ layer.ui_id }}TimeLayer')"
                                                                           style="float: left; margin: 0 0 15px 15px;">

                                                                        </i>
                                                                        <i class="fas fa-cog settings-btn"
                                                                           onclick="openSettings('{{ layer.ui_id }}TimeLayer')"
                                                                           style="float: left; margin: 0 0 15px 15px;">

                                                                        </i>
                                                                    </div>
                                                                </div>


                                                            {% else %}
                                                                <span
                                                                        class="rst__rowTitle"
                                                                        title="{{ layer.title }}"
                                                                        data-toggle="tooltip"
                                                                >
                                      <input type="checkbox"
                                             id="{{ layer.ui_id }}"
                                             name="{{ layer.ui_id }}"
                                             onchange="toggleLayer('{{ layer.ui_id }}TimeLayer')"/>
                                      <label for="{{ layer.ui_id }}"
                                             class="cblabel">{{ layer.title }}</label>
                                      <br/>
                                  </span>
                                                                <div>
                                                                    <i id="legend_{{ layer.ui_id }}TimeLayer "
                                                                       class="fas fa-list legend-btn"
                                                                       onclick="openLegend('{{ layer.ui_id }}TimeLayer')"
                                                                       style="float: left; margin: 0 0 15px 15px;">

                                                                    </i>
                                                                    <i class="fas fa-cog settings-btn"
                                                                       onclick="openSettings('{{ layer.ui_id }}TimeLayer')"
                                                                       style="float: left; margin: 0 0 15px 15px;">

                                                                    </i>
                                                                </div>
                                                            {% endif %}

                                                        </div>
                                                        <div class="rst__rowToolbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>


                    <div class="sidebar-pane" id="basemap">
                        <h1 class="sidebar-header" style="margin-bottom: 8px;">
                            Basemaps
                            <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                        </h1>
                    </div>

                    {#                    <div class="sidebar-pane" id="settings">#}
                    {#                        <h1 class="sidebar-header">#}
                    {#                            Settings#}
                    {#                            <span class="sidebar-close">#}
                    {#                              <i class="fas fa-caret-left"></i>#}
                    {#                            </span>#}
                    {#                        </h1>#}
                    {#                        <p>Currently no settings here, likely will remove as#}
                    {#                            settings have been moved to each layer</p>#}
                    {#                    </div>#}
                </div>
            </div>

            <div id="servirmap" class="sidebar-map"></div>
        </div>

        <div id="dialog" style="display: none" class="ui-widget-content">
            <p>
                This is the default dialog which is useful for displaying information.
                The dialog window can be moved, resized and closed with the
                &apos;x&apos; icon.
            </p>
        </div>
        <span id="isMobile"></span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.3/proj4.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'frontend/js/xml2json.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
            integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"
    ></script>
    <script type="text/javascript" src="{% static 'frontend/js/leaflet.draw.js' %}"></script>
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"
    ></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/leaflet.nontiledlayer@1.0.7/dist/NonTiledLayer.js"
    ></script>
    <script src="https://unpkg.com/leaflet-geosearch@3.1.0/dist/geosearch.umd.js"></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"
    ></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'frontend/js/map-layers.js' %}"></script>
    <script src="{% static 'frontend/js/base-layers.js' %}"></script>
    <script
            type="text/javascript"
            src="{% static 'frontend/js/leaflet.timedimension.min.js' %}"
    ></script>
    <script src="{% static 'frontend/js/leaflet-sidebar.js' %}"></script>
    <script src="{% static 'frontend/js/leaflet-providers.js' %}"></script>
    <script src="{% static 'frontend/js/jszip.js' %}"></script>
    <script src="{% static 'frontend/js/jszip-utils.js' %}"></script>
    <!--[if IE]>
    <script type="text/javascript" src="{% static 'frontend/js/jszip-utils-ie.js' %}"></script>
    <![endif]-->

    <script src="{% static 'frontend/js/preprocess.js' %}"></script>
    <script src="{% static 'frontend/js/preview.js' %}"></script>
    <script src="{% static 'frontend/js/monthly_rainfall.js' %}"></script>
    <script src="{% static 'frontend/js/utils.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap-tour-standalone.min.js' %}"></script>
    <script src="{% static 'frontend/js/map.js' %}"></script>
    <script src="{% static 'frontend/js/navloader.js' %}"></script>
    <script>
        $(document).ready(function () {
            setActive("mnmap");
        });
    </script>

    <script id="style_template" style="display: none" type="text/template">
        <div style="padding-bottom:15px;">
            <br>
            <label for="range-min" style="font-weight: 100">Min</label>
            <input type="text" class="form-control" id="range-min" name="range-min" style="width: 100%">
            <br> <label for="range-max" style="font-weight: 100">Max</label>
            <input type="text" class="form-control" id="range-max" name="range-max" style="width: 100%">
            <br>
            <label>
                Select Color Scheme
            </label>
            <select class="style_table form-control" name="style_table" id="style_table" style="width: 100%">
            </select><br>
            {#            <label>#}
            {#                Out of range values#}
            {#            </label>#}
            {#            <select class="style_table form-control" name="above_below" id="above_below" style="width: 100%">#}
            {#                <option value="extend">Extend</option>#}
            {#                <option value="transparent">Transparent</option>#}
            {#            </select><br>#}
            <button id="applyStylebtn" style="
              float: right;
          ">
                Apply
            </button>
            <br><br>
            <label for="opacityctrl" style="font-weight: 100">Opacity</label>
            <input
                    id="opacityctrl"
                    type="range"
                    class="layer-opacity form-control"
                    min="0"
                    max="1"
                    step=".01"
                    value="1"
                    style="width:100%">
        </div>
    </script>

{% endblock %}
