{% extends "cservbase.html" %}
{% load static %}
{% block title %}ClimateSERV - Map{% endblock %}
{% block script %}
    <link rel="stylesheet"
          href="{% static 'frontend/css/jquery-ui.min.css' %}"
    />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/leaflet.draw.css' %}"
    />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/leaflet.timedimension.control.min.css' %}"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/leaflet-sidebar.css' %}"
    />
    <link rel="stylesheet"
          href="{% static 'frontend/css/map.css' %}"
    />

{% endblock %}

{% block content %}
    <script>
        const static_url = "{% static '' %}";
        let client_layers = []; //JSON.parse('{{ data_layers | safe }}');
        {% for layer in data_layers %}
            client_layers.push({
                title: "{{ layer.title }}",
                url: "{{ layer.url }}",
                attribution: "{{ layer.attribution }}",
                layers: "{{ layer.layers }}",
                styles: "{{ layer.default_style }}",
                colorrange: "{{ layer.default_color_range }}",
                id: "{{ layer.ui_id }}",
                dataset: "{{ layer.dataset_type }}",
                app_id: "{{ layer.api_id }}",
                units: "{{ layer.units }}"
            })
        {% endfor %}

    </script>
    <div id="root">
        <div>
            <div id="sidebar" class="sidebar collapsed">
                <!-- Nav tabs -->
                <div class="sidebar-tabs">
                    <ul role="tablist">
                        <li>
                            <a href="#layers" role="tab">
                                <i class="fas fa-layer-group"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#chart" role="tab">
                                <i class="fas fa-chart-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#basemap" role="tab"><i class="fas fa-map"></i></a>
                        </li>
                    </ul>
                    {#                    <ul role="tablist">#}
                    {#                        <li>#}
                    {#                            <a href="#settings" role="tab"><i class="fas fa-cog"></i></a>#}
                    {#                        </li>#}
                    {#                    </ul>#}
                </div>

                <!-- Tab panes -->
                <div class="sidebar-content">
                    <div class="sidebar-pane" id="layers">
                        <h1 class="sidebar-header">
                            Layers
                            <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                        </h1>

                        <ol class="layers vertical" id="layer-list">
                            {% for layer in data_layers %}
                                <li id="{{ layer.ui_id }}_node">
                                    <div class="rst__nodeContent" style="left: 44px">
                                        <div style="height: 100%">
                                            <div class="rst__rowWrapper">
                                                <div class="rst__row" style="opacity: 1" draggable="true">
                                                    <div class="rst__moveHandle"></div>
                                                    <div class="rst__rowContents ignore-elements">
                                                        <div class="rst__rowLabel">
                                  <span class="rst__rowTitle">
                                      <input type="checkbox"
                                             id="{{ layer.ui_id }}"
                                             name="{{ layer.ui_id }}"
                                             onchange="toggleLayer('{{ layer.ui_id }}TimeLayer')"/>
                                      <label for="{{ layer.ui_id }}" title="{{ layer.title }}">{{ layer.title }}</label>
                                      <br/>
                                  </span>
                                                            <div>
                                                                <i id="legend_{{ layer.ui_id }}TimeLayer "
                                                                   class="fas fa-list legend-btn"
                                                                   onclick="openLegend('{{ layer.ui_id }}TimeLayer')"
                                                                   style="float: left; margin: 0 0 15px 15px;">

                                                                </i>
                                                                <i class="fas fa-cog settings-btn"
                                                                   onclick="openSettings('{{ layer.ui_id }}TimeLayer')"
                                                                   style="float: left; margin: 0 0 15px 15px;">

                                                                </i>
                                                            </div>
                                                        </div>
                                                        <div class="rst__rowToolbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="sidebar-pane" id="chart">
                        <h1 class="sidebar-header">
                            Statistical Query
                            <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                        </h1>
                        <div id="step1 card-header">
                            <h2 class="step-marker">Set Area of Interest</h2>
                            <button
                                    type="button"
                                    class="bread-crumb"
                                    data-toggle="collapse"
                                    data-target="#aoiOptions">
                                About AOI options <i id="aoiOptionToggle" class="fa fa-angle-down"></i>
                            </button>
                            <div id="aoiOptions" class="collapse" style="padding: 0 10px 20px 20px;">
                                <p>
                                    Choose how you would like to define your area of interest
                                    (AOI)
                                </p>
                                <ul class="step-list">
                                    <li>
                                        <span class="bold">Draw:</span> Enables drawing on the map.
                                        You must make a closed polygon to define your AOI.
                                    </li>
                                    <li>
                                        <span class="bold">Upload:</span> Enables either drag and
                                        drop or click to upload a json file with your defined AOI
                                    </li>
                                    <li>
                                        <span class="bold">Select:</span> Adds administrative
                                        boundaries at different levels for you to choose your AOI.
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group d-flex">
                                <button id="btnAOIdraw" class="tablinks w-100" onclick="selectAOI('draw')">
                                    Draw
                                </button>
                                <button id="btnAOIupload" class="tablinks w-100" onclick="selectAOI('upload')">
                                    Upload
                                </button>
                                <button id="btnAOIselect" class="tablinks w-100" onclick="selectAOI('select')">
                                    Select
                                </button>
                            </div>
                            <div class="tab-content selectAOI"
                                 id="drawAOI"
                                 style="display: none"
                            >
                                <span class="draw-info">
                                    Enabled
                                </span>
                                <span class="draw-info bottom">
                                    Follow this example to draw
                                </span>
                                <img src="{% static 'frontend/img/draw_demo.gif' %}"
                                     alt="Draw on map"
                                     style="max-height: 100%; max-width: 100%"
                                />
                            </div>

                            <div class="tab-content selectAOI"
                                 id="uploadAOI"
                                 style="display: none"
                            >
                                <div class="acontainer">
                                    <div class="drop-container" id="drop-container">
                                        <div class="drop-message" onclick="triggerUpload(event)">
                                            <div class="upload-icon"></div>
                                            Drag &amp; Drop json, geojson, or zipped shapefile here
                                            or click to select file
                                        </div>
                                        <input id="upload_files" class="upload_files" type="file" multiple=""
                                               style="display: none;"/>
                                    </div>
                                    <div class="file-display-container"></div>
                                </div>
                                <div class="errors" id="upload_error" style="display:none;">

                                </div>
                                <div class="modal">
                                    <div class="overlay"></div>
                                    <span class="close">X</span>
                                    <div class="modal-image"></div>
                                </div>
                                <div class="upload-modal" style="display: none">
                                    <div class="overlay"></div>
                                    <div class="close">X</div>
                                    <div class="progress-container">
                                        <span></span>
                                        <div class="progress">
                                            <div class="progress-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="selectAOI" id="selectAOI" style="display: none">
                                <p style="font-weight: 900; padding: 20px 0 10px">
                                    Select features by:
                                </p>
                                <div class="btn-group d-flex">
                                    <button
                                            id="btnAdminFeatcountry"
                                            class="tablinks w-100"
                                            onclick="enableAdminFeature('country')"
                                    >
                                        Country
                                    </button>
                                    <button
                                            id="btnAdminFeatadmin_1_earth"
                                            class="tablinks w-100"
                                            onclick="enableAdminFeature('admin_1_earth')"
                                    >
                                        Admin #1
                                    </button>
                                    <button
                                            id="btnAdminFeatadmin_2_af"
                                            class="tablinks w-100"
                                            onclick="enableAdminFeature('admin_2_af')"
                                    >
                                        Admin #2
                                    </button>
                                </div>
                            </div>
                            <div class="form-group panel-buffer">
                                <label for="geometry">Geometry</label>
                                <span class="form-control" id="geometry"
                                      style="height: unset; word-break: break-all; max-height: 200px; overflow: auto;">
                                    {"type":"FeatureCollection","features":[]}
                                </span>
                            </div>
                            <form id="query-form" onsubmit="return false;">
                                <h2 class="step-marker">Select Data</h2>
                                <div class="form-group panel-buffer">
                                    <label for="requestTypeSelect">Type</label>
                                    <select name="requestTypeSelect" class="form-control" id="requestTypeSelect"
                                            onchange="openDataTypePanel(this)">
                                        <option value="datasets">Dataset</option>
                                        <option value="monthly_analysis">Monthly Rainfall Analysis</option>
                                    </select>
                                </div>
                                <div id="panel_dataset">
                                    <div class="form-group panel-buffer">
                                        <label for="sourcemenu">Data Source</label>
                                        <select name="sourcemenu" class="form-control" id="sourcemenu">
                                            {% for layer in data_layers %}
                                                <option value="{{ layer.api_id }}">{{ layer.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group panel-buffer">
                                        <label for="operationmenu">Calculation</label>
                                        <select name="operationmenu" id="operationmenu" class="form-control">
                                            <option value="0">Max</option>
                                            <option value="1">Min</option>
                                            <option value="5">Average</option>
                                            <option value="6">Download Raw Data</option>
                                        </select>
                                    </div>
                                    <div class="form-group panel-buffer">
                                        <input type="date" class="form-control" placeholder="YYYY-MM-DD"
                                               id="sDate_new_cooked" value="" min="1980-01-01" max="2035-12-31"
                                               onchange="verify_ready()">
                                        <div class="input-group-addon">to</div>
                                        <input type="date" class="form-control" placeholder="YYYY-MM-DD"
                                               id="eDate_new_cooked" value="" min="1980-01-01" max="2035-12-31"
                                               onchange="verify_ready()">
                                        <label id="compare-error" for="eDate_new_cooked"
                                               style="color:#da2020; display: none;">End date must be equal or greater
                                            than
                                            the start date</label>
                                    </div>
                                </div>
                                <div id="panel_monthly_rainfall" style="display: none;">
                                    <div class="form-group panel-buffer">
                                        <p style="text-align: justify;">
                                            No other options are necessary. Choose 'Next' below to proceed to the
                                            review panel, then click 'Submit Request'.
                                        </p>
                                        <p style="text-align: justify; font-weight: 500; margin-top: 20px;">
                                            Monthly Rainfall Analysis is derived from a combination of CHIRPS historical
                                            data and current NMME Seasonal Forecast data.

                                        </p>
                                    </div>
                                </div>

                            </form>

                            <div style="
                                    width: calc(100% - 10px);
                                    position: relative;
                                    margin-top: 20px;">
                                <button id="btnRequest" disabled onclick="sendRequest()">Send Request</button>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-pane" id="basemap">
                        <h1 class="sidebar-header">
                            Basemaps
                            <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                        </h1>
                    </div>

                    {#                    <div class="sidebar-pane" id="settings">#}
                    {#                        <h1 class="sidebar-header">#}
                    {#                            Settings#}
                    {#                            <span class="sidebar-close">#}
                    {#                              <i class="fas fa-caret-left"></i>#}
                    {#                            </span>#}
                    {#                        </h1>#}
                    {#                        <p>Currently no settings here, likely will remove as#}
                    {#                            settings have been moved to each layer</p>#}
                    {#                    </div>#}
                </div>
            </div>

            <div id="servirmap" class="sidebar-map"></div>
        </div>

        <div id="dialog" style="display: none" class="ui-widget-content">
            <p>
                This is the default dialog which is useful for displaying information.
                The dialog window can be moved, resized and closed with the
                &apos;x&apos; icon.
            </p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.3/proj4.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'frontend/js/xml2json.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
            integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"
    ></script>
    <script type="text/javascript" src="{% static 'frontend/js/leaflet.draw.js' %}"></script>
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"
    ></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/leaflet.nontiledlayer@1.0.7/dist/NonTiledLayer.js"
    ></script>
    <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"
    ></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'frontend/js/map-layers.js' %}"></script>
    <script src="{% static 'frontend/js/base-layers.js' %}"></script>
    <script
            type="text/javascript"
            src="{% static 'frontend/js/leaflet.timedimension.min.js' %}"
    ></script>
    <script src="{% static 'frontend/js/leaflet-sidebar.js' %}"></script>

    <script src="{% static 'frontend/js/jszip.js' %}"></script>
    <script src="{% static 'frontend/js/jszip-utils.js' %}"></script>
    <!--[if IE]>
    <script type="text/javascript" src="{% static 'frontend/js/jszip-utils-ie.js' %}"></script>
    <![endif]-->

    <script src="{% static 'frontend/js/preprocess.js' %}"></script>
    <script src="{% static 'frontend/js/preview.js' %}"></script>
    <script src="{% static 'frontend/js/monthly_rainfall.js' %}"></script>
    <script src="{% static 'frontend/js/utils.js' %}"></script>
    <script src="{% static 'frontend/js/map.js' %}"></script>

    <script src="{% static 'frontend/js/navloader.js' %}"></script>
    <script>
        $(document).ready(function () {
            setActive("mnmap");
        });
    </script>

    <script id="styletemplate" style="display: none" type="text/template">
        <div style="padding-bottom:15px;">
            <br>
            <label for="range-min" style="font-weight: 100">Min</label>
            <input type="text" class="form-control" id="range-min" name="range-min" style="width: 100%">
            <br> <label for="range-max" style="font-weight: 100">Max</label>
            <input type="text" class="form-control" id="range-max" name="range-max" style="width: 100%">
            <br><label>
            Select Color Scheme
        </label>
            <select class="style_table form-control" name="style_table" id="style_table" style="width: 100%">
            </select><br>
            <button id="applyStylebtn" style="
              float: right;
          ">
                Apply
            </button>
            <br><br>
            <label for="opacityctrl" style="font-weight: 100">Opacity</label>
            <input
                    id="opacityctrl"
                    type="range"
                    class="layer-opacity form-control"
                    min="0"
                    max="1"
                    step=".01"
                    value="1"
                    style="width:100%">
        </div>
    </script>

{% endblock %}
